@import "tailwindcss";

* {
    margin: 0;
}

/* fonts - start */

@font-face {
    font-family: "Poppins";
    src: url(assets/Poppins-Regular.ttf);
}

*,
html,
body,
a,
div,
span,
input,
textarea {
    font-family: "Poppins";
}

@font-face {
    font-family: "nigelina";
    src: url(assets/nigelinaregular-l301g.otf);
}

.nigelina {
    font-family: "nigelina";
}

/* fonts - end */

.category_main_image {
    background: url(assets/categoryMain.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/*  */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */